<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 contenteditable="true" id="question">Behavioral Arrangement Task</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="files[]" multiple>
        <button type="submit">Upload</button>
    </form>
    <div id="gallery"></div>
    <div id="circleContainer"></div>
    <input type="file" id="locationFileInput">
    <button id="saveFinalLocations">Save Final Locations</button>
    <button id="saveButton">Save Initial Locations</button>
    <div id="coordinateInput" style="display: none;">
        <label for="xCoord">X:</label>
        <input type="number" id="xCoord">
        <label for="yCoord">Y:</label>
        <input type="number" id="yCoord">
        <button id="setCoordinates">Set Coordinates</button>
    </div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
