<!DOCTYPE html>
<html>
<head>
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        #uploadForm, #gallery, #saveButton {
            display: none;
        }
        #circleContainer {
            width: 600px;
            height: 600px;
            border: 1px solid #ccc;
        }
        svg {
            border: 1px solid #ccc;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <h1 contenteditable="true" id="question">Behavioral Arrangement Task</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="files[]" multiple>
        <button type="submit">Upload</button>
    </form>
    <div id="gallery"></div>
    <div id="circleContainer"></div>
    <input type="file" id="locationFileInput">
    <button id="saveFinalLocations">Save Final Locations</button>
    <button id="saveButton">Save Initial Locations</button>
    <div id="coordinateInput" style="display: none;">
        <label for="xCoord">X:</label>
        <input type="number" id="xCoord">
        <label for="yCoord">Y:</label>
        <input type="number" id="yCoord">
        <button id="setCoordinates">Set Coordinates</button>
    </div>
    <div id="coordinatesBlock"></div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        function renderCircle() {
            let circleContainer = d3.select("#circleContainer");
            let radius = 250;
            let centerX = radius + 50;
            let centerY = radius + 50;
            let containerWidth = 2 * (radius + 10) + 100;
            let containerHeight = 2 * (radius + 10) + 100;

            circleContainer.selectAll("*").remove();

            let svg = circleContainer.append("svg")
                .attr("width", containerWidth)
                .attr("height", containerHeight);

            svg.append("circle")
                .attr("cx", centerX)
                .attr("cy", centerY)
                .attr("r", radius)
                .style("fill", "none")
                .style("stroke", "#000");
        }

        document.addEventListener('DOMContentLoaded', function() {
            renderCircle();
            // loadSavedLocationsFromDatabase(); // Uncomment if needed for your functionality
        });
    </script>
</body>
</html>
